form{
        padding-left: 10%
}
input{
    display: block;
    width : 300px;
    height: 40px;
    border-radius: 1%;
}
.login{
    margin: 100px auto;
    width: 400px;
    background-color: #6799ea; 
}
.btn-lg{
    margin: 60px 60px 15px 1px;


}


.avatar{
    margin-top: 20px;
    padding: 0 21%; 
    height: 240px;
}
